version: '3.1'
services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: 'bynry-backend'
    user: '${UID}:${GID}'
    environment:
      ENV: dev
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/opt/:Z
    ports:
      - 8000:8000
    depends_on:
      - db

  db:
    image: postgres:14
    container_name: 'bynry-postgres'
    restart: always
    user: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - 5432:5432
    expose:
      - 5432
    volumes:
      - postgres-data:/var/lib/postgresql/data

  # ...existing services...

volumes:
  postgres-data: